.container {
    display: inline-grid;
    background-color: lightblue;
    height: 98vh;
    width: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

#sidebar, #upper-nav,#lower-nav, #main-board, #side-board {
    border: solid black;
}

#upper-nav {
    grid-area: 1 / 3 / 2 / 13;
}

#lower-nav {
    grid-area: 2 / 3 / 3 / 13;
}

#sidebar {
    grid-area: 1 / 1 / 9 / 3;
    font-family: 'Raleway', sans-serif;;
}

#main-board {
    grid-area: 3 / 3 / 9 / 10;
}

#side-board {
    grid-area: 3 / 10 / 9 / 13
}

.sidebar-logo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

#sidebar-s1, #sidebar-s2 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.4rem;
}

#sidebar-s2 {
    margin-top: 2rem;
}

.sidebar-logo > span {
    font-size: 1.8rem;
    padding-right: 0.5rem
}

.sidebar-section > span {
    font-size: 1.4rem;
    padding-right: 0.9rem;
}

.sidebar-logo, .sidebar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

